<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.crm.mapper.StorageMapper" >
  <resultMap id="BaseResultMap" type="com.zking.crm.model.Storage" >
    <constructor >
      <arg column="stk_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="stk_prod_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="stk_warehouse" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="stk_ware" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="stk_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stk_memo" jdbcType="NVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.zking.crm.model.Storage" >
    insert into storage (stk_id, stk_prod_id, stk_warehouse, 
      stk_ware, stk_count, stk_memo
      )
    values (#{stkId,jdbcType=BIGINT}, #{stkProdId,jdbcType=BIGINT}, #{stkWarehouse,jdbcType=NVARCHAR}, 
      #{stkWare,jdbcType=NVARCHAR}, #{stkCount,jdbcType=INTEGER}, #{stkMemo,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.crm.model.Storage" >
    insert into storage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stkId != null" >
        stk_id,
      </if>
      <if test="stkProdId != null" >
        stk_prod_id,
      </if>
      <if test="stkWarehouse != null" >
        stk_warehouse,
      </if>
      <if test="stkWare != null" >
        stk_ware,
      </if>
      <if test="stkCount != null" >
        stk_count,
      </if>
      <if test="stkMemo != null" >
        stk_memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stkId != null" >
        #{stkId,jdbcType=BIGINT},
      </if>
      <if test="stkProdId != null" >
        #{stkProdId,jdbcType=BIGINT},
      </if>
      <if test="stkWarehouse != null" >
        #{stkWarehouse,jdbcType=NVARCHAR},
      </if>
      <if test="stkWare != null" >
        #{stkWare,jdbcType=NVARCHAR},
      </if>
      <if test="stkCount != null" >
        #{stkCount,jdbcType=INTEGER},
      </if>
      <if test="stkMemo != null" >
        #{stkMemo,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>